* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}

.container {
  grid-template-areas:
    "a a a"
    "b b c";
}

.image {
  grid-area: a;
}

.text {
  grid-area: b;
}

.buttons {
  grid-area: c;
}